<% if e.category.to_s == "image" %>
	<div>
		<% if logged_in? %>
			<%= render 'partials/example_menu', e: e %>
		<% end %>
		<%= image_tag e.content %>
	</div>
<% elsif e.category.to_s == "video" %>
	<div>
		<% if logged_in? %>
			<%= render 'partials/example_menu', e: e %>
		<% end %>
		<%= video_tag e.content %>
	</div>
<% end %>