<a class="grid-item-menu" data-toggle="dropdown" id="postMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<i class="fas fa-angle-down"></i>
</a>
<div class="dropdown-menu" aria-labelledby="postMenuButton">
	<!-- Edit modal path -->
	<%= link_to "Edit example", edit_example_path(e), class: "dropdown-item", remote: true, data: { target: '#modal_container', toggle: 'modal' } %>
	<!-- Edit modal path -->
	<%= link_to "Delete example", e, class: "dropdown-item", method: :delete, data: { confirm: "Are you sure?" } %>
</div>