<% provide(:title, @title) %>

<div class="col-10 offset-1">
	<p class="contact-heading">Let's</p>
	<p class="contact-heading offset-1">Connect</p>
	<div class="col-lg-6 offset-lg-5 form-contact">
		<%= render 'forms/contact' %>
	</div>
</div>