<div class="modal-header">
	<h5 class="text-center">Edit Example</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <i class="fas fa-times"></i>
	</button>
</div>
<div class="modal-body modal-padding-20">
	<%= render 'forms/example' %>
</div>