p {
	&.works-heading {
		font-family: "MADE Canvas";
		font-size: calc(36px + (200 - 36) * ((100vw - 320px) / (1920 - 320)));
		font-weight: bold;
		line-height: calc(18px + (135 - 18) * ((100vw - 320px) / (1920 - 320)));
		text-transform: lowercase;
		&:first-of-type {
			margin-top: 50px;
		}
	}
}

h3.works-example {
	margin-top: 25px;
	margin-bottom: calc(18px + (36 - 18) * ((100vw - 320px) / (1920 - 320)));
	font-family: "Moon 2.0";
	font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1920 - 320)));
}

.grid {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 100px;
}

.grid-item, .grid-item-wide, .grid-item-short {
	display: inline-block;
	float: left;
	img, video {
		width: 100%;
	}
}

.grid-item {
	width: 33.33%;
}

.grid-item-wide {
	width: 66.66%;
}

.grid-item-short {
	height: 50%;
}

a {
	&.works-menu {
		float: right;
		i:hover {
			cursor: pointer;
			color: #fa0023;	
		}
	}
}

.works-input {
	select {
		width: calc(100% - 98.89px);
		border-radius: 5px 0 0 5px;
	}
	input[type=text] {
		width: calc(100% + 10px);
		margin: 0 -5px 0 -5px;
	}
	& input {
		height: 35px;
	}
}

.btn-works {
	background-color: transparent;
	border: none;
	font-family: "MADE Canvas";
	font-size: 30px;
	font-weight: bold;
	float: right;
	color: #fff;
	&:hover {
		color: #fa0023;
		font-weight: bold;	
	}
}