<% provide(:title, @title) %>

<div class="col-10 offset-1 resume-body">
	<p class="resume-heading">My</p>
	<p class="resume-heading offset-1">Resume</p>
<!-- Experience -->
	<div class="col-xl-7 offset-xl-5 col-lg-8 offset-lg-4 col-md-9 offset-md-3 clearfix">
		<h3 class="resume-experience">Experience</h3>
		<% if Experience.any? %>
			<% @experiences.each do |e| %>
				<%= render 'partials/experience', e: e %>
			<% end %>
		<% end %>
<!-- Experience Form -->
		<% if logged_in? %>
			<h3 class="resume-experience">Add New Experience</h3>
			<%= render 'forms/experience' %>
		<% end %>
	</div>
<!-- Education -->	
	<div class="col-xl-7 offset-xl-5 col-lg-8 offset-lg-4 col-md-9 offset-md-3 clearfix">
		<h3 class="resume-education">Education</h3>
		<% if Education.any? %>
			<% @educations.each do |e| %>
				<%= render 'partials/education', e: e %>
			<% end %>
		<% end %>
<!-- Education Form -->	
		<% if logged_in? %>
			<h3 class="resume-education">Add New Education</h3>
			<%= render 'forms/education' %>
		<% end %>
	</div>
</div>