<div id="modal_container" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <!-- Modal Content -->
    </div>
  </div>
</div>